<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>
</head>
<body>
<form action="/send" method="post">
    发消息给：
    <input type="text" name="to">
    发送的内容：
    <input type="text" name="content">
    <input type="submit">
</form>

<div>
    <div style="width: 30%;float:left">
        <h3>{{wx_user_dict.MemberCount}}</h3>
        <ul>
        {% for item in wx_user_dict.MemberList %}
            <!--item.NickName是昵称，UserName是他的userid-->
            <li>{{item.NickName}} ===> {{item.UserName}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>